In [ ]:
data = pd.read_csv('learningSet.csv')

In [ ]:
data.head()

In [ ]:
#Check for Null values in the numericals 
numericals = data.select_dtypes(include = np.number)
numericals.isna().sum()

In [ ]:
nulls_num_df = pd.DataFrame(numericals.isna().sum()/len(numericals)).reset_index()
nulls_num_df.columns = ['column_name', 'nulls_percentage']
nulls_num_df[nulls_num_df['nulls_percentage']!= 0]

In [ ]:
# deleting all rows with more than 25% of NaN values
perc = 25.0
min_count =  int(((100-perc)/100)*data.shape[0] + 1)
data = data.dropna( axis=1, thresh=min_count)
data.shape

In [ ]:

# Clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA
# GEOCODE2
data['GEOCODE2'].value_counts()
def clean_geocode(x):
    if x == ' ':
        return 'A'
    else:
        return x

data['GEOCODE2'] = data['GEOCODE2'].apply(clean_geocode)

data['GEOCODE2'] = data['GEOCODE2'].fillna('A')

data['GEOCODE2'].value_counts(dropna=False)

In [ ]:
#WEALTH1
data['WEALTH1'].value_counts(dropna=False)

In [ ]:
print(data['ADI'].isna().sum())    #PROBABLly the null values are in the same rows
print(data['DMA'].isna().sum())
print(data['MSA'].isna().sum())

In [ ]:
data = data[data['ADI'].isna()==False]

In [ ]:
print(data['ADI'].isna().sum())      # as thought they wrere in the same rows 
print(data['DMA'].isna().sum())
print(data['MSA'].isna().sum())